// media query
$mobile-landscape: 480px;
$tablet: 768px;
$desktop: 1200px;

// font-weight
$font-regular: 400;
$font-semi: 600;
$font-bold: 700;

// font-size
$sm: 1.2rem;
$md: 1.4rem;
$base: 1.6rem;
$lm: 1.8rem;
$lg: 2rem;
$xl: 2.6rem;
$xxl: 3rem;
$xxxl: 3.2rem;
$title: 4rem;
$title-desktop: 4.8rem;

// colors
$light: #fff;
$dark: #000;
$primary: #370511;
$text: #595959;
$filter-light: invert(100%) sepia(0%) saturate(0%) hue-rotate(302deg) brightness(108%) contrast(102%);

// margins
$margin-sm: 8px;
$margin-md: 14px;
$margin-lg: 20px;
$margin-xl: 32px;
